<div class="app-body">
    <div class="login-cover">
        <div class="login-cover-image"><img src="" data-id="login-cover-image" alt=""></div>
        <div class="login-cover-bg"></div>
    </div>
    <main class="main d-flex align-items-center">
        <div class="container">


            <div class="row">
                <div class="col-md-8 mx-auto">


                    <div class="card-group">


                        <div class="card p-4 login-v2">
                            <div class="login-header">
                                <div class="texto2">
                                    <span style="font-size:25px">
                                        SISTEMA DE REGISTRO
                                    
                                                    </span>
                                    <br>


                                    <br>
                                </div>

                            </div>

                            <div class="card-body">


                                <form>
                                    <div class="texto3">
                                        
                                    </div>
                                    <p class="text-muted texto1">Ingrese sus datos</p>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>

                                        

                                        <input type="text" name="usuario" class="form-control" placeholder="usuario" autocomplete="username" required>
                                      


                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-lock"></i></span>
                                        </div>
                                        <input type="password" name="password"  class="form-control" placeholder="Contraseña" required>
                                        <span *ngIf="">La contraseña es obligatoria</span>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                           
                                            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="this._router.navigate(['dashboard']);">Ingresar</button>
                                           
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>