.login-content {
    padding: 30px 40px;
    color: rgb(189, 151, 151) !important;
    width: 450px;
    margin: 0 auto;
}

.login-v2 {
    /* background: url(../img/transparent/black-0.4.png); */
    background: rgba(0, 0, 0, .4);
    color: rgb(255, 255, 255);
    width: 450px;
    margin-top: 180px !important;
    margin: 168px auto;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    padding-top: 0 !important;
}

.login-header {
    position: absolute;
    top: -80px;
    left: 50%;
    right: 0;
    width: 700px;
    padding: 0 30px;
    margin-bottom: 50px !important;
    margin-top: 30px;
    margin-left: -300px;
    font-weight: 300;
}

.login-cover,
.login-cover-bg,
.login-cover-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.login-cover-bg {
    /* background: #666; */
    background: -moz-radial-gradient(center, ellipse cover, #666 0, #000 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0, #666), color-stop(100%, #000));
    /* background: -webkit-radial-gradient(center,ellipse cover,#666 0,#000 100%); */
    background: -o-radial-gradient(center, ellipse cover, #666 0, #000 100%);
    background: -ms-radial-gradient(center, ellipse cover, #666 0, #000 100%);
    background: radial-gradient(ellipse at center, #666 0, #000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000', GradientType=1);
    opacity: .6;
    filter: alpha(opacity=60);
}

.login-cover-image img {
    max-width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

@media (min-width:481px) and (max-width:767px) {
    .login-cover-image img {
        max-width: initial;
        max-height: 100%;
    }
}

.input-group-addon {
    background: #e2e7eb;
    border: none;
}

.boton1 {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.texto1 {
    color: #f0f0f0 !important;
}

.texto2 {
    color: #f0f0f0 !important;
}

.texto3 {
    text-align: center;
    font-size: 20px !important
}