<div class="row">
    <div class="col-md-12">
        <div class="card">

           

            <div class="card-header">
                <strong>Datos Personales</strong>
            </div>
            
            <div class="card-body">
                <form #registerForm="ngForm" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Nombre</label>
                        <div class="col-md-9">
                            <input type="text" id="text-input"  class="form-control" placeholder="Codigo"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Apellido</label>
                        <div class="col-md-9">
                            <input type="text" id="text-input"  class="form-control" placeholder="Apellido"/>
                            
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">telefono</label>
                        <div class="col-md-9">
                            <input type="text" id="text-input"  class="form-control" placeholder="telefono"  />
                        
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Direccion</label>
                        <div class="col-md-9">
                            <input type="text" id="text-input"  class="form-control" placeholder="direccion"  />
                        </div>
                    </div>
                    
                    
                    
                    


                </form>
            </div>

            
            
            <div class="card-header">
                <strong>Experiencia Laboral</strong>
            </div>
            <div class="card-body">
                <form #registerForm="ngForm" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="date-input">Fecha inicio</label>
                        <div class="col-md-9">
                            <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date" required />

                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="date-input">Fecha fin</label>
                        <div class="col-md-9">
                            <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date" required />

                        </div>
                    </div>
                   
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="textarea-input">Descripcion</label>
                        <div class="col-md-9">
                            <textarea id="textarea-input" name="descripcion" #descripcion="ngModel" rows="9" class="form-control" placeholder="" [(ngModel)]="formulario.descripcion_formulario" required></textarea>
                        </div>
                    </div>


                </form>
            </div>
            <div class="card-header">
                <strong>Estudios o certificaciones</strong>
            </div>
            <div class="card-body">
                <form #registerForm="ngForm" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="date-input">Nombre de estudio</label>
                        <div class="col-md-9">
                            <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date" required />

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="date-input">Fecha inicio de estudio</label>
                        <div class="col-md-9">
                            <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date" required />

                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="textarea-input">Descripcion</label>
                        <div class="col-md-9">
                            <textarea id="textarea-input" name="descripcion" #descripcion="ngModel" rows="9" class="form-control" placeholder="" [(ngModel)]="formulario.descripcion_formulario" required></textarea>
                        </div>
                    </div>
                    


                </form>
            </div>
            <div class="card-header">
                <strong>Habilidades</strong>
            </div>
            <div class="card-body">
                <form #registerForm="ngForm" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                    
                   
                    

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Nombre</label>
                        <div class="col-md-9">
                            <input type="text" id="text-input"  class="form-control" placeholder="nombre"  />
                        
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Nivel</label>
                        <div class="col-md-9">
                            <input type="text" id="text-input"  class="form-control" placeholder="Nivel"  />
                        
                        </div>
                    </div>
                    


                </form>
            </div>
            <div class="card-header">
                <strong>Url</strong>
            </div>
            <div class="card-header">
                <strong>Carta de presentacion</strong>
            </div>
            <div class="card-header">
                <strong>Imagen</strong>
            </div>
            <div class="card-body">
                <div class="row align-items-center">


                    <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                        <button type="button" class="btn btn-block btn-secondary">Limpiar</button>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                        <button type="button" class="btn btn-block btn-danger active" aria-pressed="true">Cancelar</button>
                    </div>
                    <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                        <button type="button" class="btn btn-block btn-primary" (click)="registrar(registerForm)">Registrar</button>

                    </div>
                </div>
            </div>
        </div>




    </div>




</div>
<!--/.col-->